################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/scopetools/scopetools/__pycache__
/scopetools/__pycache__
/__pycache__
/h.py
/sc.py
/mod.py
/mod - Copy.py
/m.py
/h.py.bak
